.inicioView{
    margin-top: 56px;
    width: '100vw';
    height: '100vh';
}
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.squares-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que esté detrás del contenido principal */
    background-color: #39045c; /* Color de fondo si es necesario */
    /*#39045c*/
}

.btn-purple {
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: white;
}

.btn-purple:hover {
    background-color: #5a379d;
    border-color: #5a379d;
}

.avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 2px;
    transition: transform 0.3s ease-in-out;
    
}
.avatar-icon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.grow {
    animation: grow 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideIn 0.5s ease-out forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s ease-out forwards;
}

.card-purple {
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: white;
}

.card-purple .card-header {
    background-color: #5a379d;
    border-color: #5a379d;
}

.card-purple .card-body {
    background-color: #6f42c1;
}

.card-purple .card-footer {
    background-color: #5a379d;
    border-color: #5a379d;
}

